.Logo--NavLink {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 4rem;
  width: 4rem;
  align-items: center;
  justify-content: center;
}
 .logo.svgicon {
   width: 140px;
   height: 53px;
 }