.PageHeader {
  background-color: white;
  color: --drakGray;
  padding: 15rem 0;
}

.PageHeader .BackgroundImage {
  opacity: 1;
}

.PageHeader-large {
  padding: 20rem 0;
}

.PageHeader--Title {
  font-size: 6rem;
  margin-bottom: 0;
}

.PageHeader--Subtitle {
  font-weight: 400;
  font-size: 1.8rem;
}

.PageHeader .container {
  animation: fadeIn 0.5s ease-out;
}

.PageHeader .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* justify-content: space-between; */
}

.PageHeader .PageHeader--Video {
  display: flex;
}

.PageHeader .hero-illustration {
  width: 100%;
  height: 600px;
}

.h1--hero {
  font-size: 3em;
  font-weight: bold;
}

.embed-container { 
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width:100%;
  max-width: 100%;
  margin: 64px 0;
} 
.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
}

@media (max-width: 600px) {
  .PageHeader {
    padding: 7rem 0;
  }
  .PageHeader-large {
    padding: 12.5rem 0;
  }
}
